*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  block-size: 100%;
}

.loader {
  border: 10px solid #feafe8;
  border-radius: 50%;
  border-block-start-color: #fd24af;
  animation-name: loading, color;
  animation-duration: 1.5s;
  animation-delay: -1s;
  inline-size: 100px;
  aspect-ratio: 1/1;
}

@keyframes loading {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes color {
  0% {
    border-color: #feafe8;
    border-block-start-color: #fd24af;
  }

  50% {
    border-color: #ffd6e8;
    border-block-start-color: #c471ed;
  }

  100% {
    border-color: #feafe8;
    border-block-start-color: #fd24af;
  }
}
