* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  height: 200px;
  border-radius: 15px;
  outline: 1px solid black;
  background-color: red;
  background-image: url(../images/back.jpg);
  background-position: center;
  background-size: 110%;
  transform: rotate(15deg) scale(1.1) translateY(20%);
  aspect-ratio: 1/1.5;
}

.card:hover {
  transform: rotate(15deg) scale(1.1) translateY(0);
}
