.cube {
  --size: 300px;
  --vec-x: 700;
  --vec-y: 1000;
  --vec-z: 500;
  --cube-rotate-angle: 60deg;

  width: var(--size);
  height: var(--size);
  transform:
    rotate3d(
      var(--vec-x),
      var(--vec-y),
      var(--vec-z),
      var(--cube-rotate-angle)
    );
  transform-origin:
    calc(var(--size) / 2)
    calc(var(--size) / 2)
    calc(-1 * var(--size) / 2);
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
}

.top {
  background-color: rgb(253 36 175 / 0.5);
  transform: rotateX(-90deg) rotateY(180deg);
  transform-origin: center top;
}

.right {
  background-color: rgb(254 175 232 / 0.5);
  transform: rotateY(-90deg) rotateX(180deg) rotateZ(180deg) translateX(100%);
  transform-origin: right center;
}

.bottom {
  background-color: rgb(255 200 2 / 0.5);
  transform: rotateX(90deg) rotateY(180deg);
  transform-origin: center bottom;
}

.left {
  background-color: rgb(128 217 148 / 0.5);
  transform: rotateY(90deg) rotateX(180deg);
  transform-origin: left center;
}

.front {
  background-color: rgb(95 13 238 / 0.5);
}

.back {
  background-color: rgb(109 193 253 / 0.5);
  transform: translateZ(calc(-1 * var(--size))) rotateY(180deg);
}
